[submodule "loader"]
	path = loader
	url = git://github.com/HKey/el-init.git
[submodule "site-lisp/helm-etags-plus"]
	path = site-lisp/helm-etags-plus
	url = git://github.com/jixiuf/helm-etags-plus.git
[submodule "el-init"]
	path = el-init
	url = git://github.com/HKey/el-init.git
[submodule "site-lisp/html5-el"]
	path = site-lisp/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "site-lisp/auto-java-complete"]
	path = site-lisp/auto-java-complete
	url = https://github.com/emacs-java/auto-java-complete.git
[submodule "site-lisp/fsharpbinding"]
	path = site-lisp/fsharpbinding
	url = https://github.com/fsharp/fsharpbinding.git
