#*#
*.dat
*.elc
*.cache
font.el
frame.el
anything-c-adaptive-history
/doc/web/*.html
/doc/web/upload.bat
/doc/web/twmode.pot
/doc/web/ja/*
/twittering-mode-*.tar.gz
/twittering-mode-*.zip
test.el
auto-save-list/*
backup
while
session*
semantic*
tramp*
/emacsd.tar.gz
url/
url/cookies
doc/
