#### backup files by emacs
*~

#### data files like binarires or caches, etc..
*.dat
*.elc
*.cache

#### make by anything, but not need sync
#### because of dependencies to local environment
anything-c-adaptive-history

#### archived files
*.tar.gz
*.zip

#### related to network
url/
url/cookies

#### emacsclient
server/

#### ssh
session*
tramp*

#### docs
doc/

#### misc
semantic*
auto-save-list/
backup
while

#### dumpings are not necessary
*.stackdump

#### load path
saved-load-path.el

#### log
wget-log
wget-log.*

### history
history

### package manager
elpa/archives/gnu/archive-contents
elpa/archives/marmalade/archive-contents
elpa/archives/melpa/archive-contents

#### misc
tags
